fastapi
uvicorn
pydantic
langchain
langchain-community
python-dotenv
qdrant-client
sentence-transformers
pydantic-settings
langchain-huggingface
langchain-qdrant
PyPDF2
google-generativeai
langchain-google-genai
langchain-cerebras
langchain-tavily
beautifulsoup4
requests
httpx
langchain-groq
python-multipart
python-docx
flashrank
